*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 4rem);
  grid-template-rows: 7rem 2rem 7rem;
  gap: 0.5rem;
  cursor: pointer;
  justify-content: center;
}

.deck {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.text {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
